@font-face {
  font-family: 'Carmen';
  src: url('../assets/fonts/Carmen.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Munson Roman';
  src: url('../assets/fonts/Munson_Roman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}